.partners {
    height: 211px;
    display: flex;
    justify-content: center;
    background: #F8F8F8;
    margin-top: 80px;
    .partners-content {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .partners-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13%;
        }
    }
}