.work {
    height: 1150px;
    padding-top: 75px;
    .work-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .work-content-info {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .work-title {
                font-family: 'Kaushan Script';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 44px;
                text-align: center;
                color: #2D3033;
            }
            .work-main {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 900;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                text-transform: uppercase;
                color: #2D3033;
            }
            .work-separator {
                display: flex;
                align-self: center;
                width: 15%;
                border: 2px solid #F38281;
            }
            .work-text {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #000000;
            }
        }
    }
    .work-grid {
        max-height: 756px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        .work-item {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .work-item3 {
            grid-row: 1/3;
            grid-column: 3/4;
        }
        .work-item6 {
            position: relative;
            .work-item6-main {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
                position: absolute;
                top: 0;
                right: 0;
                .work-item6-content {
                    height: 183px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .work-item6-icon {
                        max-width: 23%;
                        max-height: 23%;
                        margin: 0 auto;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .work-item6-info {
                        height: 80px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .work-item6-title {
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 28px;
                            text-align: center;
                            text-transform: uppercase;
                            color: #FFFFFF;
                        }
                        .work-item6-text {
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 21px;
                            text-align: center;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}