.contact {
    height: 622px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner2 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/banner2/image.png');
    height: 442px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner2__title {
    color: #FFFFFF;
}

.banner2__separator {
    width: 170px;
    border: 1px solid #FFFFFF;
    margin: 0;
}

.banner2__text {
    color: #FFFFFF;
}

.banner2__button-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.banner2__button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    height: 58px;
    background: none;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-grow: 1;
}

.banner2__button:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.banner2__button:active {
    border: 2px solid #AB4949;
    background-color: #AB4949;
    color: #FFFFFF;
}

.contact__wrapper {
    height: 622px;
}

.contact-form-wrapper {
    height: 45%;
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form__fields {
    display: flex;
    height: 55%;
    margin: 0 -15px;
}

.contact-form__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
}

.contact-form__right {
    width: 50%;
    padding: 0 15px;
}

.contact-form__message {
    resize: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    height: 97%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    outline: none;
}

.contact-form__field {
    width: 100%;
    height: 38px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}

.contact-form__button {
    width: 30%;
    height: 58px;
    border: none;
    background: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.contact-form__button:hover {
    background-color: #AB4949;
}

.contact-form__button:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.form__separator {
    margin: 0;
    border: 1px solid #BDBDBD;
}

.contact-button-wrapper {
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    justify-content: center;
}

.footer__links {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

/*@media (max-width: 1024px) {
    .banner2__button {
        max-width: 30%;
    }

    .contact-form {
        width: 95%;
    }

    .footer__links {
        width: 50%;
    }

    .footer__links img {
        transform: scale(0.8);
    }

    .footer__text {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 320px) and (orientation: portrait) {
    .banner2 {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/mobile/image2.jpg');
    }

    .banner2__title {
        font-size: 24px;
        line-height: 28px;
    }

    .banner2__text {
        font-size: 14px;
        line-height: 16px;
    }

    .banner2__button {
        max-width: 100%;
    }

    .banner2 {
        padding: 0 16px;
    }

    .contact-description__title {
        font-size: 24px;
        line-height: 28px;
    }

    .contact-description__text {
        font-size: 14px;
        line-height: 16px;
    }

    .contact {
        height: 807px;
        justify-content: flex-start;
        padding: 0 16px;
    }

    .contact-form-wrapper {
        height: 70%;
    }

    .contact-form {
        width: 100%;
        margin-top: 20px;
    }

    .contact-form__fields {
        width: 100%;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }

    .contact-form__left {
        width: 100%;
        height: 190px;
    }

    .contact-form__right {
        width: 100%;
        height: 200px;
    }

    .contact-form__button {
        width: 100%;
    }

    .footer {
        justify-content: space-around;
    }

    .footer__links {
        width: 90%;
    }

    .footer__links img {
        width: 26px;
        height: 26px;
    }

    .footer__text {
        font-size: 14px;
        line-height: 16px;
    }
}*/