@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.customers {
    max-width: 100%;
}

.customers-blocks {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.customers-blocks__content {
    display: flex;
    max-width: 80%;
    margin: 0 -15px;
}
.customers-blocks__item {
    max-width: 33.333%;
    height: 320px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customers-blocks__text {
    background-color: #E2E2E2;
    border-radius: 10px;
    height: 180px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: auto;
    padding: 0 7%;
}

.customers-blocks__info {
    display: flex;
    max-width: 95%;
}

.info__personalities {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}

.info__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
}

.info__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    
}

#triangle-down {
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #E2E2E2;
    margin-left: 15%;
}