.customers {
    max-width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customers-blocks {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.customers-blocks__content {
    display: flex;
    max-width: 80%;
    margin: 0 -15px;
}

.customers-blocks__item {
    max-width: 33.333%;
    height: 320px;
    padding: 0 15px;
}

.customers-blocks__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customers-blocks__text {
    background-color: #E2E2E2;
    border-radius: 10px;
    height: 180px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 7%;
}

.customers-blocks__info {
    display: flex;
    max-width: 95%;
}

.info__personalities {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}

.info__name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
}

.info__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    
}

#triangle-down {
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #E2E2E2;
    margin-left: 15%;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

/*@media (max-width: 1024px) {
    .customers-blocks__content {
        max-width: 95%;
    }

    .customers-blocks__text {
        font-size: 14px;
        line-height: 16px;
    }

    .info__name {
        font-size: 18px;
        line-height: 25px;
    }

    .info__title {
        font-size: 14px;
        line-height: 16px;
    }

    .info__photo img {
        transform: scale(0.9);
    }
}

@media (max-width: 320px) and (orientation: portrait) {
    
    .customers {
        height: 548px;
        overflow: hidden;
        position: relative;
        justify-content: flex-start;

    }

    .customers-blocks {
        flex-direction: column;
        width: 300%;
        max-width: none;
    }

    .customers-blocks__content {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .customers-blocks__item {
        width: 288px;
        max-width: none;
        transition: all .6s ease;
        padding: 0 15px;
    }
    
    .customers-description__title {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .info__name {
        font-size: 14px;
        line-height: 19px;
    }

    .info__title {
        font-size: 13px;
        line-height: 15px;
    }

    .customers-blocks__text {
        font-size: 14px;
        line-height: 16px;
    }

    .navigation {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        height: 50px;
        align-items: center;
    }

    .bar {
        height: 9.49px;
        width: 9.49px;
        cursor: pointer;
        border-radius: 50%;
        transition: all .4s ease;
        border: 1px solid #86878B;
        margin: 0 10%;
    }

    #r1:checked ~ #active .bar1 {
        background-color: #86878B;
    }

    #r2:checked ~ #active .bar2 {
        background-color: #86878B;
    }

    #r3:checked ~ #active .bar3 {
        background-color: #86878B;
    }

    #r1:checked ~ .i1 {
        margin-left: 0;
    }

    #r2:checked ~ .i1 {
        margin-left: -33.333%
    }

    #r3:checked ~ .i1 {
        margin-left: -66.666%;
    }
}*/